/*this is a CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Body
  ========================================
*/

body {
    background: #41444b;
    color: #fff;
    font: 300 16px/22px "Roboto";
}


/*
  ========================================
  header
  ========================================
*/

.title {
    position: absolute;
}

/*
  ========================================
  Navigation
  ========================================
*/

nav {
    float: right;
    font-size: 20px;
    text-align: right;
    padding-left: 320px;
    padding-top: 30px;
    word-spacing: 50px;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
}

/*
  ========================================
  Links
  ========================================
*/

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    border: 2px solid #a91d1d;
    color: #a91d1d;
    cursor: pointer;
}

/*
  ========================================
  Images
  ========================================
*/

header img {
    width: 100%;
}

aside img {
    width: 50%;
    padding-top: 20px;
}

.family-package img,
.spa-experience img,
.special-occasions img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;   
}

/*
  ========================================
  Typography
  ========================================
*/


header h1 {
    border: 5px solid #000;
    color: #ddd;
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    margin: 10px;
    padding: 10px;
}

.slogan h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px
}

.jumbo p{
    text-align: center;
    padding: 25px;
}

.about h1 {
    font-size: 45px;
    padding: 15px;
    text-align: center;
}

footer p {
    text-align: center;
}

.accomodation h1 {
    font-size: 45px;
    padding: 15px;
    text-align: center
}

.accomodation h3 {
    font-size: 25px;
    line-height: 45px;
    text-align: center;
}

.reservation h1 {
    font-size: 45px;
    padding: 15px;
    text-align: center;
}

.reservation h3 {
    font-size: 25px;
    line-height: 45px;
    padding-bottom: 15px;
    text-align: center;
}

.offers h1 {
    font-size: 45px;
    padding: 15px;
    text-align: center;
    padding-bottom: 25px;
}

.offers h3 {
    font-size: 25px;
    line-height: 45px;
    padding-bottom: 15px;
    text-align: center;
}

.offers h4 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 15px
}

.offers h2 {
    font-size: 20px;
    padding-bottom: 5px;
}

/*
  ========================================
  Slogan Section
  ========================================
*/

.slogan {
    background: #fff;
    color: #000;
    padding: 50px;
    text-align: center;
}

/*
  ========================================
  Accomodation
  ========================================
*/

.accomodation {
    background: #fff;
    color: #000;
    padding: 50px;
}

.reservation {
    background: #fff;
    color: #000;
    padding: 50px;
    text-align: center;
}


/*
  ========================================
  Form
  ========================================
*/

form {
    margin-bottom: 22px;
}


.booking-group {
    background: #ddd;
    padding: 30px;
}

.booking-group label {
    cursor: pointer;
    font-weight: 400;
}

.booking-group select {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    margin:;
    padding: 5px 8px;
}

.booking-group input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    margin: 30px;
    padding: 5px 8px;
}

.register-group input,
.register-group textarea {
    width: 100%;
}

.register-group select {
    height: 32px;
    width: 60px;
}

register-group textarea {
    height: 78px;
}

/*
  ========================================
    Button
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-default {
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px
}

/*
  ========================================
  About Section
  ========================================
*/

.about {
    background: #fff;
    color: #000;
    padding-bottom: 50px;
}

.jumbo{
    float: left;
    width: 50%;
}

/*
  ========================================
  Offers Section
  ========================================
*/

.offers{
    background: #fff;
    color: #000;
    padding: 50px;
}

.family-package,
.spa-experience,
.special-occasions{
    background: #ddd;
    padding: 50px;
}

.included {
    list-style: square;
    margin: 0 0 22px 30px;
}


.about {
    background: #fff;
    color: #000;
    text-align: center;
}

.about img {
    width: 50%;
}
/*
  ========================================
  Footer
  ========================================
*/

footer {
    padding: 60px;
}